<%= provide(:title, "Sign Up") %>
<div class="text-center">
	<h1>Sign up</h1>
	<br><br>
	<div class="form-group">
		<%= form_for(@user, url: {action: "_addUser"}, method: "post") do |f| %>
		  	<%= f.text_field :first_name, :placeholder => "First name", class: 'form-input', required: true %><br>
		  	<%= f.text_field :last_name, :placeholder => "Last name", class: 'form-input', required: true %><br>
		  	<%= f.text_field :nick_name, :placeholder => "Nick name", class: 'form-input', required: true %><br>
		  	<%= f.text_area :address, :placeholder => "Address", class: 'form-input-textarea', required: true %><br>
		  	<%= f.number_field :phone, :placeholder => "Phone number", class: 'form-input', required: true %><br>
			<div class="left-float">
				<%= f.submit "Create an account", class: "btn-submit" %>
			</div>
		  	<div class="right-float">
			  	<!--input type="button" name="login" value="Login" class="btn-submit"-->
			</div>
		<% end %>
	</div>
</div>
<br>